body {
  margin: 50px 150px ;

}

.logo {
  display: inline-block;
  position: relative;
  top: 10px;
}

.title {
  color: #191970 ;
  font-size: 50px ;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  position: relative;
  left: 10px;
}

.bodyer {
  height: 90vh;
  background-color: rgba(190, 190, 190, 0.2) ;
  position: relative;
}

.contenuto {
  display: inline-block;
  background-color: white;
  width: 60vw ;
  height: 80vh ;
  position: absolute;
  top: 50% ;
  left: 50% ;
  transform: translate( -50%, -50%);
  border-radius: 10px ;
}

/*HEADER STYLE*/
.header_buttons {
  position: relative;
  top: 5% ;
  left: 10%
}

#first {
  color: white ;
  background-color: #1E90FF ;
  border-radius: 5px ;
  border: 3px solid #1E90FF ;
  padding: 5px 10px;
}

#second{
  color: lightgrey;
  background-color: white ;
  border-radius: 5px;
  border: 3px solid lightgrey ;
  padding: 5px 10px ;
}

 /* STYLE LIST */
    ul {
      list-style-type: none;
    }


    .container_liste {
      position: absolute;
      top: 15% ;
      left: 4%;
      font-family: sans-serif;
      font-weight: 500;
      line-height: 33px ;
      list-style-image: none;
    }

    .container_liste button {
      border-radius: 7px;
      color: white;
      font-size: 10px ;
      font-weight: 600;
      padding-right: 5px;
      padding-left: 5px;

    }

    #lista1::first-line, #lista2::first-line, #lista3::first-line{
      font-size: 30px;
      font-weight: 700;
      padding: 10px;
      display: inline-block;
      position: relative;
      top: 0;
      left: 5%;
    }

    #lista1::before, #lista2::before, #lista3::before {
      content: '\25be';

    }


    .yes::before {
      content: ' \2611';
      color: green ;
      font-size: 20px
    }
    .no::before {
      content: ' \2612';
      color: red;
    }

        /*BUTTON STYLE*/
        #blue, #blue1, #blue3 {
          background-color: #1E90FF ;
          border-color: #1E90FF ;
        }
         #violet {
           background-color: violet;
           border-color: violet;
         }
        #green {
          background-color: green;
          border-color: green;
        }
        #orange {
          background-color: orange;
          border-color: orange;
        }
        #purple {
          background-color: purple;
          border-color: purple;
        }
